$bgColor: #EEF9E7;
$primaryColor: #6B9768;
$TextDarkColor: #666666;
$TextWhiteColor: #F3F3F3;
$White: #fff;
$Black: #000;


$small-x: 16px;
$small: 24px;
$medium: 32px;
$big: 40px;
$big-x: 48px;
$huge: 56px;