@import "_variables";
@import "_reset";

#header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 111;
    background-color: $primaryColor;
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    .logo{
        flex: 1;
        display: flex;
        align-items: center;
        img{
            margin-right: 10px;
        }
        h1{
            color: $TextWhiteColor;
        }
    }
    .navbar{
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        ul{

            display: flex;
            li{
                padding: 10px;
                a{
                    text-decoration: none;
                    color: $TextWhiteColor;
                }
            }

        }
    }

}
#main{
    margin-top: 80px;
}
#Home{
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $primaryColor;
    .contentLeft{
        padding: 0 80px;
        flex: 1;
        color: $TextWhiteColor;
        h1{
            text-align: center;
            font-weight: bold;
            font-size: $huge;
        }
        p{
            line-height: 40px;
            text-align: justify;
            font-size: $small;
        }
    }
    .contentRight{
        height: 100%;
        padding: 50px;
        flex: 1;
        display: flex;

        justify-content: center;
        justify-content: center;
        img{
            border-radius: 50%;
            width: auto;
            height: 100%;
            
        }
    }
}